/*
* Hex Codes for Gruvbox theme
* https://github.com/morhetz/gruvbox?tab=readme-ov-file 
*/
body {
  font-family: "Fira Mono", monospace;
}

.header {
  margin: 10px auto;
  overflow: hidden;
  border-radius: 5px;
  display: block;
}
.header ul {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  list-style-type: none;
}
.header li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  border-right: 2px solid;
}
.header li a {
  text-decoration: none;
}
.header .header-icon {
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .header .header-icon {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header li {
    border-right-width: 0px;
  }
  .header .header-icon {
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .header a {
    color: inherit !important;
    text-decoration: none !important;
  }
  .header li:hover {
    background-color: inherit !important;
  }
  .header li:not(:first-child) {
    display: none;
  }
  .header.responsive li {
    display: block;
    text-align: left;
  }
}
.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: left;
  padding: 0px 10px;
  border-radius: 5px;
}
.container h1 {
  text-align: center;
}

#theme-toggle {
  position: fixed;
  display: block;
  right: 10px;
  top: 10px;
}

/* LIGHT THEME */
body.light-theme {
  background-color: #d5c4a1;
  color: #3c3836;
}
body.light-theme .header {
  background-color: #fbf1c7;
  border: 2px solid #9d0006;
  border-left-width: 5px;
}
body.light-theme .header li {
  border-right-color: #9d0006;
}
body.light-theme .header li:not(.selected-page):hover {
  background-color: #ebdbb2;
}
body.light-theme .header .header-link {
  color: #3c3836;
  text-decoration: none;
}
body.light-theme .header .selected-page {
  background-color: #cc241d;
}
body.light-theme .header .selected-page .header-link {
  color: #f9f5d7;
}
body.light-theme hr {
  border-color: #3c3836;
}
body.light-theme a {
  color: #076678;
  text-decoration: none;
}
body.light-theme a:visited {
  color: #8f3f71;
}
body.light-theme a:hover {
  color: #fe8019;
  text-decoration: underline;
}
body.light-theme a:active {
  color: #fb4934;
}
body.light-theme .container {
  background-color: #fbf1c7;
  border: 2px solid #9d0006;
  border-left-width: 5px;
}

/* DARK THEME */
body.dark-theme {
  background-color: #504945;
  color: #ebdbb2;
}
body.dark-theme .header {
  background-color: #665c54;
  border: 2px solid #458588;
  border-left-width: 5px;
}
body.dark-theme .header li {
  border-right-color: #458588;
}
body.dark-theme .header li:not(.selected-page):hover {
  background-color: #504945;
}
body.dark-theme .header .header-link {
  color: #ebdbb2;
  text-decoration: none;
}
body.dark-theme .header .selected-page {
  background-color: #076678;
}
body.dark-theme hr {
  border-color: #ebdbb2;
}
body.dark-theme a {
  color: #fabd2f;
  text-decoration: none;
}
body.dark-theme a:visited {
  color: #d3869b;
}
body.dark-theme a:hover {
  color: #fe8019;
  text-decoration: underline;
}
body.dark-theme a:active {
  color: #fb4934;
}
body.dark-theme .container {
  background-color: #665c54;
  border: 2px solid #458588;
  border-left-width: 5px;
}/*# sourceMappingURL=style.css.map */