/*
* Hex Codes for Gruvbox theme
* https://github.com/morhetz/gruvbox?tab=readme-ov-file 
*/
@font-face {
  font-family: "TheGoodMonolith";
  font-style: normal;
  font-weight: 500;
  src: local("TheGoodMonolith"), url("../../Fonts/TheGoodMonolith.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../../Fonts/FiraMono-Regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 500;
  src: url("../../Fonts/FiraMono-Medium.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../../Fonts/FiraMono-Bold.woff2") format("woff2");
}
html {
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  font-family: "Fira Mono", monospace;
  padding: 0;
}
body #GOL-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
}

.header {
  margin: 10px auto;
  overflow: hidden;
  border-radius: 5px;
  display: block;
}
.header ul {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  border-right: 2px solid;
}
.header li a {
  text-decoration: none;
}
.header .header-icon {
  padding: 0 20px;
  height: 45px;
  display: flex;
  align-items: center;
}
.header .header-icon svg {
  height: 24px;
  width: 24px;
}
.header .header-icon svg path {
  fill: currentColor;
}
.header #theme-toggle-container {
  all: unset;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.header #theme-toggle-container #theme-toggle {
  all: unset;
  cursor: pointer;
  background: transparent;
  border: none;
}
.header #theme-toggle-container #theme-toggle svg {
  height: 24px;
  width: 24px;
}
.header #theme-toggle-container #theme-toggle svg path {
  fill: currentColor;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: left;
  padding: 0px 10px;
  border-radius: 5px;
}
.container h1 {
  text-align: center;
}
.container .section-header {
  text-align: center;
  margin: 5px;
}
.container .stickers {
  font-size: 0;
  margin-bottom: 10px;
  text-align: center;
}
.container .stickers p {
  font-size: 10px;
  margin: 7px;
}
.container .stickers .fiveonly {
  max-width: 440px;
  margin: auto;
}
.container .lastfm {
  margin-bottom: 10px;
}
.container .lastfm #widget {
  display: grid;
  grid-template-columns: 30% auto;
}
.container .lastfm #widget #track-art {
  width: 100%;
}
.container .lastfm #widget #track-info {
  text-align: justify;
}
.container .lastfm *:not(span) {
  margin: 5px;
}
.container .lastfm #attribute {
  grid-column: 1/span 2;
  font-size: small;
  text-align: center;
}
.container .mymusic {
  display: block;
  overflow: hidden;
}
.container .mymusic .music {
  display: grid;
  grid-template-columns: 30% auto;
}
.container .mymusic .music #youtube-profile {
  width: 100%;
  border-radius: 100%;
}
.container .mymusic .music #youtube-info {
  grid-column: 1/span 2;
  text-align: center;
}
.container .mymusic #video-frame {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .mymusic #video-frame #example-video {
  height: 100%;
  aspect-ratio: 16/9;
  padding: 0 5px;
  grid-column: 0;
}
.container .mymusic *:not(span):not(iframe) {
  margin: 5px;
}
.container .rw {
  display: grid;
  grid-template-columns: 150px 1fr; /* first col for image, second for text */
  gap: 1rem;
  align-items: start;
}
.container .rw img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.container .rw p {
  margin: 0;
  grid-row: 2;
}
.container .rw hr, .container .rw .section-header {
  grid-column: 1/3;
  width: 100%;
}
.container .rw-left p {
  grid-column: 2;
}
.container .rw-right {
  grid-template-columns: 1fr 150px !important;
}
.container .rw-right img {
  grid-column: 2;
}
.container .rw-right p {
  grid-column: 1;
}

@media screen and (min-width: 600px) {
  .header .header-icon {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: stretch;
  }
  .header ul {
    flex-direction: row;
  }
  .header li {
    border-right-width: 0;
  }
  .header li .header-icon a {
    color: currentColor;
  }
  .header li:not(:first-child) {
    display: none;
  }
  .header.responsive ul {
    flex-direction: column;
    width: 100%;
  }
  .header.responsive li {
    display: block !important;
    border-right: none;
    width: 100%;
    text-align: left;
    margin-left: 40px;
  }
  .header.responsive li:not(:first-child) {
    border-top: 1px solid currentColor;
  }
  .header.responsive .header-icon {
    padding-top: 10px;
    height: 35px;
  }
  .header.responsive #theme-toggle-container {
    display: none !important;
  }
}
/* LIGHT THEME */
body.light-theme {
  background-color: #d5c4a1;
  color: #3c3836;
}
body.light-theme .header {
  background-color: #fbf1c7;
  border: 2px solid #9d0006;
  border-left-width: 5px;
}
body.light-theme .header li {
  border-right-color: #9d0006;
}
body.light-theme .header li:not(.selected-page):hover {
  background-color: #ebdbb2;
}
body.light-theme .header .header-link {
  color: #3c3836;
  text-decoration: none;
}
body.light-theme .header .selected-page {
  background-color: #cc241d;
}
body.light-theme .header .selected-page .header-link {
  color: #f9f5d7;
}
body.light-theme hr {
  border-color: #3c3836;
}
body.light-theme a {
  color: #076678;
  text-decoration: none;
}
body.light-theme a:visited {
  color: #8f3f71;
}
body.light-theme a:hover {
  color: #fe8019;
  text-decoration: underline;
}
body.light-theme a:active {
  color: #fb4934;
}
body.light-theme .container {
  background-color: #fbf1c7;
  border: 2px solid #9d0006;
  border-left-width: 5px;
}
body.light-theme .container .section-header {
  color: #cc241d;
}

/* DARK THEME */
body.dark-theme {
  background-color: #504945;
  color: #ebdbb2;
}
body.dark-theme .header {
  background-color: #665c54;
  border: 2px solid #689d6a;
  border-left-width: 5px;
}
body.dark-theme .header li {
  border-right-color: #689d6a;
}
body.dark-theme .header li:not(.selected-page):hover {
  background-color: #504945;
}
body.dark-theme .header .header-link {
  color: #ebdbb2;
  text-decoration: none;
}
body.dark-theme .header .selected-page {
  background-color: #427b58;
}
body.dark-theme hr {
  border-color: #ebdbb2;
}
body.dark-theme a {
  color: #fabd2f;
  text-decoration: none;
}
body.dark-theme a:visited {
  color: #d3869b;
}
body.dark-theme a:hover {
  color: #fe8019;
  text-decoration: underline;
}
body.dark-theme a:active {
  color: #fb4934;
}
body.dark-theme .container {
  background-color: #665c54;
  border: 2px solid #689d6a;
  border-left-width: 5px;
}
body.dark-theme .container .section-header {
  color: #8ec07c;
}/*# sourceMappingURL=style.css.map */