/*
* Hex Codes for Gruvbox theme
* https://github.com/morhetz/gruvbox?tab=readme-ov-file 
*/

// Dark background shades
$dark0-hard:   #1d2021;
$dark0:        #282828;
$dark0-soft:   #32302f;

$dark1:        #3c3836;
$dark2:        #504945;
$dark3:        #665c54;
$dark4:        #7c6f64;

// Light foreground shades
$light0-hard:  #f9f5d7;
$light0:       #fbf1c7;
$light0-soft:  #f2e5bc;

$light1:       #ebdbb2;
$light2:       #d5c4a1;
$light3:       #bdae93;
$light4:       #a89984;

// Brights
$red-bright:     #fb4934;
$green-bright:   #b8bb26;
$yellow-bright:  #fabd2f;
$blue-bright:    #83a598;
$purple-bright:  #d3869b;
$aqua-bright:    #8ec07c;
$orange-bright:  #fe8019;

// Neutrals
$red-neutral:     #cc241d;
$green-neutral:   #98971a;
$yellow-neutral:  #d79921;
$blue-neutral:    #458588;
$purple-neutral:  #b16286;
$aqua-neutral:    #689d6a;
$orange-neutral:  #d65d0e;

// Fadeds
$red-faded:     #9d0006;
$green-faded:   #79740e;
$yellow-faded:  #b57614;
$blue-faded:    #076678;
$purple-faded:  #8f3f71;
$aqua-faded:    #427b58;
$orange-faded:  #af3a03;

@font-face {
    font-family: "TheGoodMonolith";
    font-style: normal;
    font-weight: 500;
    src: local("TheGoodMonolith"),
        url("../../Fonts/TheGoodMonolith.woff")
        format("woff");
}

@font-face {
  font-display: swap; 
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../../Fonts/FiraMono-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../../Fonts/FiraMono-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../../Fonts/FiraMono-Bold.woff2') format('woff2');
}

body {
    font-family: "Fira Mono", monospace;
    padding: 0;

    #GOL-background {
        position: fixed;
        left: 0;
        top: 0;
        z-index: -2;
    }
}

.header {
    margin: 10px auto;
    overflow: hidden;
    border-radius: 5px;
    display: block;

    ul {
        margin: 0px;
        padding: 0px;
        font-size: 0px;
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    li {
        display: inline-block;
        padding: 10px 20px;
        font-size: 20px;
        text-align: center;
        border-right: 2px solid;

        a {
            text-decoration: none;
        }
    }
    
    .header-icon {
        text-decoration: none;
    }

    #theme-toggle-container {
        all: unset;
        display: flex;
        align-items: center;
        padding: 0 20px;

        #theme-toggle {
            all: unset;

            cursor: pointer;
            background: transparent;
            border: none;

            svg {
                height: 24px;
                width: 24px;

                path {
                    fill: currentColor;
                    
                }
            }
        }
    }
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: left;
    padding: 0px 10px;
    border-radius: 5px;

    h1 {
        text-align: center;
    }

    .section-header {
        text-align: center;
        margin: 5px;
    }

    .stickers {
        font-size: 0;
        margin-bottom: 10px;
        text-align: center;

        * {
            all: unset;
        }
    }

    .lastfm {
        margin-bottom: 10px;
        
        #widget {
            display: grid;
            grid-template-columns: 30% auto;

            #track-art {
                width:100%;
            }
            
            #track-info {
                text-align: justify;
            }
        }

        *:not(span) {
            margin: 5px;
        }


        #attribute {
            grid-column: 1 / span 2;
            font-size: small;
            text-align: center;
        }
    }

    .mymusic {
        display: block;
        overflow: hidden;

        .music {
            display: grid;
            grid-template-columns: 30% auto;
            
            #youtube-profile {
                width: 100%;
                border-radius: 100%;
            }

            #youtube-info {
                grid-column: 1 / span 2;
                text-align: center;
            }
        }

        #video-frame {
            width: 100%;
            display: flex;
            justify-content: center;
            
            #example-video {
                height: 100%;
                aspect-ratio: 16/9;
                padding: 0 5px;
                grid-column: 0;
            }
        }

        *:not(span):not(iframe) {
            margin: 5px;
        }
    }
}

@media screen and (min-width: 600px) {
    .header .header-icon {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header {
        display: block;

        li {
            border-right-width: 0px;

            &:hover {
                background-color: inherit !important;
            }

            &:not(:first-child) {
                display: none;
            }
        }

        .header-icon{
            align-items: center;
            justify-content: center;
            height: auto;   
        }

        a {
            color: inherit !important;
            text-decoration: none !important;
        }
    }

    .header.responsive li {
        display: block;
        text-align: left;
    }
}

/* LIGHT THEME */
body.light-theme {
    background-color: $light2;
    color: $dark1;

    .header {
        background-color: $light0;
        border: 2px solid $red-faded;
        border-left-width: 5px;

        li {
            border-right-color: $red-faded;

            &:not(.selected-page):hover {
                background-color: $light1;
            }
        }

        .header-link {
            color: $dark1;
            text-decoration: none;
        }

        .selected-page {
            background-color: $red-neutral;

            .header-link {
                color: $light0-hard;
            }
        }
    }

    hr {
        border-color: $dark1;
    }

    a {
        color: $blue-faded;
        text-decoration: none;

        &:visited {
            color: $purple-faded; 
        }

        &:hover {
            color: $orange-bright;
            text-decoration: underline;
        }

        &:active {
            color: $red-bright;
        }
    }

    .container {
        background-color: $light0;
        border: 2px solid $red-faded;
        border-left-width: 5px;

        .section-header {
            color: $red-neutral;
        }
    }
}

/* DARK THEME */
body.dark-theme {
    background-color: $dark2;
    color: $light1;

    .header {
        background-color: $dark3;
        border: 2px solid $aqua-neutral;
        border-left-width: 5px;

        li {
            border-right-color: $aqua-neutral;

            &:not(.selected-page):hover {
                background-color: $dark2;
            }
        }

        .header-link {
            color: $light1;
            text-decoration: none;
        }

        .selected-page {
            background-color: $aqua-faded;
        }
    }

    hr {
        border-color: $light1;
    }

    a {
        color: $yellow-bright;
        text-decoration: none;

        &:visited {
            color: $purple-bright;
        }

        &:hover {
            color: $orange-bright;
            text-decoration: underline;
        }

        &:active {
            color: $red-bright;
        }
    }

    .container {
        background-color: $dark3;
        border: 2px solid $aqua-neutral;
        border-left-width: 5px;

        .section-header {
            color: $aqua-bright;
        }
    }
}